@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('../../fonts/Gilroy/Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('../../fonts/Gilroy/Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('../../fonts/Gilroy/Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('../../fonts/Gilroy/SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('../../fonts/Gilroy/Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('../../fonts/Gilroy/ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
