// colors
$background: #FAFAFA;
$orange: #E54949;
$orange-shadow: rgba(229, 73, 73, 0.3);

$primary: #A392FD;
$primary-dark: #6549FB;
$secondary-dark: rgba(101, 73, 251, 0.1);
$accent: #E54949;
$accent-light: rgba(229, 73, 73, 0.1);
$grey: #D9D9D9;
$grey-light: #F7F7F7;

$iconHover: #E0DBFE;
$activeColor: #6549FB;
$white: #ffffff;
$separator: #EBEBEB;
$text: #333333;

// animation
$transition: 0.3s ease-out;


// :root.light-mode {}

// colors
:export {
    accent: $accent;
    primaryDark: $primary-dark;
}