.filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 22px;

  &__title, &__item {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__title {
    font-weight: 600;
  }

}