.primary {
  display: flex;
  flex-direction: column;
  max-width: 1320px;
  min-height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
  // padding: 0 16px;
  // @media (max-width: 1024px) {
  //   padding: 0 40px;
  // }
  @media (min-width: 480px) {
    padding: 0 42px;
  }

  &__content {
    flex: 1 1 auto;
    padding: 16px 0;
  }
}
