@import '../../../assets/scss/variables';

.sliderAnimation {
  margin: 112px 0 72px 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  @keyframes scale {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1);
    }
  }

  .active {
    opacity: 1;
    animation-name: scale;
    animation-duration: 0.3s;
  }

  &__title {
    font-family: 'Nunito', sans-serif;
    margin: 0 auto 15px;
    text-align: center;
    color: $text;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
  }

  &__desc {
    margin: 0 auto 32px;
    max-width: 533px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  &__img_container {
    // position: absolute;
    width: 725px;
    height: 297px;
    position: relative;
    margin: 0 auto;
  }

  &__img {
    transition: 0.3s ease;
    position: absolute;
    opacity: 0;
  }

  &_leftestDog,
  &_rightestDog {
    top: 19%;
  }

  &_leftTopCat {
    left: 11%;
    top: 0;
  }
  &_leftBottomCat,
  &_rightBottomCat {
    bottom: 22%;
  }

  &_leftBottomCat {
    left: 12%;
  }
  &_leftBottomDownDog,
  &_rightBottomDownCat {
    bottom: 0;
  }

  &_leftBottomDownDog {
    left: 24%;
  }

  &_leftDog {
    left: 20%;
  }

  &_leftDog,
  &_rightCat {
    top: 9%;
  }
  &_centerCat {
    top: 8%;
    left: 37%;
  }
  &_rightCat {
    right: 27%;
  }
  &_rightTopCat {
    top: 0;
    right: 16%;
  }
  &_rightBottomCat {
    right: 16%;
  }
  &_rightBottomDownCat {
    right: 30%;
    bottom: 0;
  }
  &_rightestDog {
    right: 1.5%;
  }

  &__plates {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #606060;
    position: absolute;
    bottom: 4%;
    left: 40%;
  }

  &__donation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    margin: -8px 73px 22px 0;

    input {
      border-color: transparent;
      background-color: transparent;
      max-width: 110px;
      text-align: right;
      height: 100%;
      padding: 10px 0;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 39px;
      color: $text;

      &:focus {
        border-bottom-color: rgba(101, 73, 251, 1);
      }
      &::placeholder {
        color: $text;
      }
    }

    span {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 39px;
      color: $text;
    }
  }

  &__slider {
    height: 43px;
    position: relative;
    max-width: 432px;
    margin: 0 auto;
    margin-bottom: 32px;
  }

  &__price {
    text-align: right;
  }

  &__barContainer {
    position: relative;
    min-width: 427px;
    background-color: $iconHover;
    margin-bottom: 20px;
    height: 8px;
    border-radius: 25px;

    & input {
      cursor: pointer;
      opacity: 0;
      z-index: 3;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0%;
      left: 0;
      background-color: transparent;
    }
  }
  &__barProgress {
    position: relative;
    background-color: $primary;
    height: 100%;
    max-width: 100%;
    border-radius: 25px;
    cursor: pointer;

    & img {
      position: absolute;
      box-shadow: 0px 8px 20px rgba(153, 153, 153, 0.2);
      width: 32px;
      height: 32px;
      top: -150%;
      right: 0;
      border-radius: 100%;
      padding: 6.4px;
      background-color: #fff;
      z-index: 1;
    }
  }

  &__label {
    display: block;
    margin-bottom: 4px;
    text-align: right;
  }
}
