@import '../../scss/variables.scss';
.card {
    width: 312px;
    height: 491px;
    position: relative;
    border: 1px solid rgba(153, 153, 153, 0.2);
    border-radius: 16px;
    background: $white;
    &__section{
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
    }
    &__info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 16px;
        margin-top: 16px;
    }
    &__title{
        color: #333333;
        font-family: 'Gilroy';
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
    }
    &__descr{
        color: #606060;
        width: 211px;
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 16px;
        line-height: 145%;
        margin-top: 4px;
    }
}
.icon {
    &__share {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: rgba(101, 73, 251, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 16px;
        right: 16px;
    }
    &__share:hover {
        background: $activeColor;
    }
}
