@import 'assets/scss/variables.scss';

.card__block {
  position: relative;
}
.card {
  cursor: pointer;
  width: 312px;
  height: 491px;
  position: relative;
  border: 1px solid rgba(153, 153, 153, 0.2);
  border-radius: 16px;
  background: $white;
  &__info {
    display: grid;
    grid-template-areas:
      'a b'
      'a b';
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  &__title {
    grid-area: a;
    color: #333333;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 24px;
  }
  &__descr {
    grid-area: a;
    margin-top: 35px;
    color: #606060;
    width: 211px;
    font-weight: 500;
    font-size: 16px;
  }
  &__like {
    grid-area: b;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 26px;
  }
}

.paginate {
  margin-top: 46px;
  display: grid;
  grid-template-columns: 1fr max-content;
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
  }
  &__numbers {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-end;
    align-items: center;
  }
}
.pageDiv {
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.points {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigationActive {
  cursor: auto;
  border: 2px solid #a392fd;
  border-radius: 8px;
}
.floatLeft {
  order: -2;
  margin-right: 34px;
}
.floatRight {
  order: -1;
  margin-right: 116px;
}
