@import '../../scss/variables.scss';
.card {
    cursor: pointer;
    width: 312px;
    height: 491px;
    position: relative;
    border: 1px solid rgba(153, 153, 153, 0.2);
    border-radius: 16px;
    background: $white;
    &__section{
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
    }
    &__info{
        display: grid;
        grid-template-areas:
            "a b"
            "a b";
        padding-left: 16px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    &__title{
        grid-area: a;
        color: #333333;
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        font-size: 24px;
    }
    &__descr{
        grid-area: a;
        margin-top: 35px;
        color: #606060;
        width: 211px;
        font-weight: 500;
        font-size: 16px;
    }
    &__like{
        grid-area: b;
    }
}
.icon {
    &__share {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: rgba(101, 73, 251, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 16px;
        right: 16px;
    }
    &__share:hover {
        background: $activeColor;
    }
}
