.main {
  display: flex;
  gap: 24px;
  flex-direction: column;
  &__content {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .main {
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .main {
    flex-direction: row;
  }
}
