@import 'assets/scss/variables.scss';

.stories {
  margin: 75px 0 72px 0;

  &__main__container {
    display: flex;
    justify-content: flex-start;
  }

  &__img__container {
    border: 1px solid $separator;
    backdrop-filter: blur(10px);
    border-radius: 16px;
    background-color: $white;
    height: 200px;
    width: 200px;
  }

  &__img {
    width: 100%;
    position: absolute;
    margin-left: 30px;
    margin-top: 33px;
  }

  &__title__container {
    display: flex;
    flex-direction: column;
    color: $text;
    padding-left: 67px;
    padding-top: 37px;
  }

  &__title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    width: 950px;
  }

  &__content {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-top: 8px;
  }

  &__subcontainer {
    width: 1320px;
    height: 1014px;
    position: relative;
    flex-direction: column;
    border: 1px solid $separator;
    backdrop-filter: blur(10px);
    border-radius: 16px;
    background-color: $white;
    margin-bottom: 115px;
    padding-bottom: 64px;

    &__views {
      margin: 40px 886px 24px 67px;
      width: 500px;
      display: flex;
      align-items: center;
      &__look {
        display: flex;
        margin-right: 24px;
        margin: 0 10px 0 10px;
      }
      &__look__img {
        margin-right: 10px;
      }

      &__share__img path {
        fill: #846dfc;
        stroke: #846dfc;
      }
      &__share__img {
        position: relative;
        margin-left: 14px;
      }
      &__share {
        display: flex;
        font-weight: 500;
        color: $text;
        margin: 0 14px 0 14px;
      }
      &__share:hover {
        cursor: pointer;
      }
      &__share:hover &__share__img {
        path {
          fill: #6549fb;
          stroke: #6549fb;
        }
      }
    }

    &__title {
      font-family: 'Nunito';
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 44px;
      width: 761px;
      margin: 0 0 16px 64px;
    }

    &__content {
      width: 800px;
      margin-left: 64px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 145%;
    }
  }
}
