.dropdown {
  width: 100%;
  cursor: pointer;
  border-left: 2px solid var(--separator);
  border-right: 2px solid var(--separator);
  padding: 0 24px;
  position: relative;

  &__body {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    margin-top: 10px;
    transition: 0.3s ease;

    &_open {
      opacity: 1;
      visibility: visible;
    }
  }

  &__selected {
    color: #6549fb;
  }

  &__item {
    height: 48px;
    display: flex;
    align-items: center;
  }
}
