@import '../../assets/scss/variables';

.noMatch {
    overflow: hidden;
    margin: 0 auto;

    &__container {
        background-color: $iconHover;
        height: 370px;
        width: 100%;
        position: relative;
        margin: 0;
    }

    &__container::before {
        display: block;
        content: "";
        height: 0;
        width: 0;
        left: 0;
        bottom: 0;
        position: absolute;
        border-bottom: 135px solid $background;
        border-left: 648px solid transparent;
        border-right: 648px solid transparent;
    }

    &__content {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        width: 402px;
        height: 46px;
        margin: 280px 1076px 114px 257px;
    }
    &__img {
        width: auto;
        height: auto;
        position: absolute;
        padding-left: 823px;
        padding-top: 102px;
    }

    &__img__404 {
        width: auto;
        // width: 690px;
        height: 314px;
        position: absolute;
        right: 145px;
        top: 282px;
    }

    &__img__oh {
        width: auto;
        // width: 250px;
        // height: 140px;
        position: absolute;
        left: 260px;
        top: 480px;
    }

    &__button {
        margin-top:24px;
    }
}