@import 'assets/scss/variables';

.noMatch {
  &__container {
    position: relative;
    height: 100%;
    background-color: $white !important;
    padding-bottom: 1px;

    &__img {
      width: 100%;
    }

    &__title {
      font-size: 7rem;
      font-family: 'Nunito';
      position: absolute;
      bottom: 165px;
      left: 257px;
      font-weight: 600;
      text-align: $text;
    }

    &__content {
      margin: 0 0 61px 257px;

      &__content {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        width: 402px;
        height: 46px;
      }

      &__button {
        margin-top: 24px;
      }
    }
  }

  &__underline {
    text-decoration: underline;
  }
}
