@import 'assets/scss/variables.scss';

.closeIcon {
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 24px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 47%;
    left: 20%;
    width: 24px;
    height: 2px;
    background: #000;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  &__rounded {
    background: rgba(101, 73, 251, 0.2);
    backdrop-filter: blur(4px);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    right: 25px;
    top: 24px;
    &:hover {
      background: $activeColor;
    }
    &:before,
    &:after {
      background: #fff;
    }
  }

  &__onlyIcon {
    width: 24px;
    height: 24px;

    &:before,
    &:after {
      background: $text;
    }
    &:hover:before,
    &:hover:after {
      background: black;
    }
  }
}
