@import '../../../assets/scss/variables';

.happystories {
  margin: 112px 0 72px 0;

  &__title {
    font-family: 'Nunito', sans-serif;
    margin: 0 auto 16px;
    text-align: center;
    color: $text;
    font-weight: 600;
    font-size: 32px;
  }

  &__content {
    display: flex;
    margin: 0 auto 33px;
    width: 533px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23.2px;
  }

  &__button {
    display: flex;
    justify-content: center;
  }

  &__container {
    display: flex;
    justify-content: space-between;
   
    &__item {
      border: 1px solid $separator;
      backdrop-filter: blur(10px);
      border-radius: 16px;
      margin-bottom: 24px;
      height: 590px;
      width: 634px;
      background-color: $white;
    }

    &__img {
      display: flex;
      flex-direction: column;
      height: 373px;
    }

    &__img__share {
      position: absolute;
      text-decoration: none;
      margin: 15px;
      padding-left: 562px;
    }

    &__img__title {
      margin: 16px 206px 8px 32px;
    }
    
    &__img__subtitle {
      font-family: 'Nunito';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      width: 410px;
    }

    &__img__content {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 145%;
      width: 530px;
      margin-top: 8px;
    }

    &__img__title__btn {
      color: $activeColor;
      font-weight: 500;
      font-size: 16px;
      display: flex;
      flex-direction: row;
      margin: 20px 0 24px;
    }

    &__img__btn__arr {
      padding-left: 9px;
    } 
  }  
} 