@import './_reset.scss';
@import './variables.scss';
@import './font.scss';
@import './container.scss';


body {
  font-family: 'Montserrat', sans-serif;
}

html {
  ::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--activeColor);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--activeColor);
  }
}