@import '../../../assets/scss/variables';

.sponsors {
   margin: 112px 0 72px 0;

&__title {
    display: block;
    margin: auto;
    margin-bottom: 24px;
    text-align: center;
    color: $text;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    max-width: 500px;
} 

&__container {
    display: flex;
    flex-wrap: wrap;
    max-height: auto;
    max-width: auto;
    justify-content: space-between;
}

&__container__img {
    border: 1px solid $separator;
    backdrop-filter: blur(10px);
    border-radius: 16px;
    align-items: center;
    padding: 35px;
    margin-bottom: 24px;
    height: 170px;
    width: 405px;
    background-color: $white;
} 
} 