@import 'assets/scss/variables.scss';

.btn {
  border-radius: 16px;
  outline: none;
  padding: 0px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &_outlined-secondary {
    background-color: $white;
    color: $primary-dark;
    border: 1px solid $primary;

    .icon {
      background-color: $primary;
    }

    &:hover {
      background-color: $secondary-dark;

      .icon {
        background-color: $white;
      }
    }

    &:active {
      background-color: $secondary-dark;
    }

    &:disabled {
      border-color: $accent;
      background-color: $white;
      color: $accent;

      .icon {
        background-color: $grey;
      }
    }
  }
  &_filled-primary {
    background-color: $primary;
    color: $white;
    transition: all $transition;

    .icon {
      background-color: $white;
    }

    &:hover {
      background-color: $primary-dark;
    }

    &:active {
      background-color: $primary;
    }

    &:disabled {
      background-color: $grey;
    }
  }

  &_filled-accent {
    background-color: $accent;
    color: $white;

    .icon {
      background-color: $white;
    }

    &:hover {
      background-color: $white;
      color: $accent;
      box-shadow: 0px 1px 8px $grey;

      .icon {
        background-color: $accent;
      }
    }

    &:active {
      box-shadow: 0 0 2px 1px $grey;
    }

    &:disabled {
      background-color: $grey;
      color: $white;
      box-shadow: none;

      .icon {
        background-color: $grey;
      }
    }
  }

  &_outlined-primary {
    background-color: $white;
    color: $primary;
    border: 1px solid $primary;

    .icon {
      background-color: $primary;
    }

    &:hover {
      background-color: $primary;
      color: $white;

      .icon {
        background-color: $white;
      }
    }

    &:active {
      background-color: $primary-dark;
    }

    &:disabled {
      border-color: $accent;
      background-color: $white;
      color: $accent;

      .icon {
        background-color: $grey;
      }
    }
  }

  &_outlined-accent {
    background-color: $white;
    border: 1px solid $accent;
    color: $accent;

    .icon {
      background-color: $accent;
    }

    &:hover {
      background-color: $accent-light;
    }

    &:active {
      background-color: $white;
    }

    &:disabled {
      border-color: $grey;
      background-color: $grey-light;
      color: $grey;

      .icon {
        background-color: $grey;
      }
    }
  }
}

.icon {
  height: 20px;
  width: 20px;
}
