@import 'assets/scss/variables';

.checkbox {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;

  &_checked {
    cursor: pointer;
    .checkbox__mark {
      background-color: $primary-dark;
      border: none;
      transition: all ease 0.3s;
      .checkbox__icon {
        opacity: 1;
      }
    }

    .checkbox__mark:hover {
      background-color: $background;
      border: 2px solid $primary;
    }
  }

  &__input {
    opacity: 0;
    height: 0;
    width: 0;
  }

  &__mark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin: 0 16px 0 0;
    border-radius: 8px;
    border: 2px solid $primary;
    transition: all ease 0.3s;

    &:hover .checkbox__icon__hover {
      display: block;
    }

    &:hover .checkbox__icon {
      display: none;
    }
  }

  &__icon {
    opacity: 0;
  }
  &__icon__hover {
    display: none;
  }
}
