.checkbox {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;

  &_checked {
    cursor: pointer;
    .checkbox__mark {
      background-color: #6549fb;
      .checkbox__icon {
        opacity: 1;
      }
    }
  }

  &__input {
    opacity: 0;
    height: 0;
    width: 0;
  }

  &__mark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin: 0 16px 0 0;
    border-radius: 8px;
    border: 2px solid #6549fb;
  }

  &__icon {
    opacity: 0;
  }
}
