@import '../../../scss/variables.scss';

.checkbox {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    .checkbox__mark {
      .icon {
        background-color: $primary;
      }
    }
  }

  &_checked {
    .checkbox__mark {
      background-color: $primary-dark;
      border: 2px solid $primary-dark;
      .icon {
        background-color: $white;
      }
    }
    &:hover {
      .checkbox__mark {
        .icon {
          background-color: $white;
        }
      }
    }
  }

  &__input {
    opacity: 0;
    height: 0;
    width: 0;
  }

  &__mark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin: 0 16px 0 0;
    border-radius: 8px;
    border: 2px solid $primary;
  }

}

.icon {
  width: 24px;
  height: 24px;
  mask-image: url('../../../assets/icons/CheckMark.svg'); 
  -webkit-mask-image: url('../../../assets/icons/CheckMark.svg');
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: $white;
}